# Resource Group
resource_group_name = "rg-conduit-devops"
location            = "North Central US"

# VM Aplicação (Docker + CI combinados)
vm_size_app    = "Standard_D2s_v3"
admin_username = "azureuser"
admin_password = "SuaSenhaSegura123!"

# AKS (1 node devido à limitação da conta)
aks_node_count   = 1
aks_node_vm_size = "Standard_D2as_v4"

# PostgreSQL
postgres_admin_login    = "psqladmin"
postgres_admin_password = "SuaSenhaBanco123!"
